version: 2

updates:
  - package-ecosystem: cargo
    directory: "/"
    schedule:
      interval: daily
    target-branch: dev
    open-pull-requests-limit: 3
    labels:
      - "dependencies"
    groups:
      rust-all:
        patterns:
          - "*"
        update-types:
          - minor
          - patch

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
    target-branch: dev
    open-pull-requests-limit: 1
    labels:
      - "ci"
      - "dependencies"
    groups:
      actions-all:
        patterns:
          - "*"
        update-types:
          - minor
          - patch

  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: daily
    target-branch: dev
    open-pull-requests-limit: 1
    labels:
      - "ci"
      - "dependencies"
    groups:
      docker-all:
        patterns:
          - "*"
        update-types:
          - minor
          - patch
